@import 'modules/variables';

html{
    overflow-x: hidden;
}
.container{
    margin:auto;
    width:98%;
}


@media  (min-width: 767px) {
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height:90vh;
    }
    
}
