.input_col{
    padding-top:10px;
    @include center;
    label{
        position: absolute;
        top: 0.65rem;
        left: 55px;
    }
    
    #inputLGEx{
        text-align: center;
        
    }
}